<!-- Umami Analytics -->
<script defer src="https://cloud.umami.is/script.js" data-website-id="{{!umamiWebsiteId}}"></script>
{{#clerk}}
<!-- Clerk -->
<script
    async
    crossorigin="anonymous"
    data-clerk-publishable-key="{{!clerkPublishableKey}}"
    src="{{!clerkSrc}}"
    type="text/javascript"
></script>
{{/clerk}}
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2222%22 fill=%22%231A1A17%22/><path transform=%22translate(26,26) scale(2)%22 d=%22M13 2 L4 14 h6 l-1 8 10-13 h-7 l1-7 z%22 fill=%22%23FFFFFF%22/></svg>">

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="{{!fonts}}" rel="stylesheet" />
